<div class="admin-item-container">
  <img src=<%=`/image/product/${item.img}`%> alt="">
  <div class="table">
    <div class="tr">
      <div class="td">Title</div>
      <div class="td"><%=item.title%></div>
    </div>
    <div class="tr">
      <div class="td">Tag</div>
      <div class="td"><%=item.tag.join(' ')%></div>
    </div>
    <div class="tr">
      <div class="td">Date</div>
      <div class="td"><%=item.date%></div>
    </div>
    <div class="tr">
      <div class="td">Status</div>
      <div class="td"><%=item.status%></div>
    </div>
    <div class="tr">
      <div class="td">UserReviews</div>
      <div class="td"><%=item.userReviews%></div>
    </div>
    <div class="tr">
      <div class="td">Stock</div>
      <div class="td"><%=item.stock%></div>
    </div>
  </div>
  <div class="admin-btn-cluster">
    <button class="update-btn admin-btn" onclick="updateElementFromAdmin( '<%=item.id%>' )">Update</button>
    <button class="delete-btn admin-btn" onclick="deleteElementFromAdmin( '<%=item.id%>' )">Delete</button>
  </div>
</div>
